*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;

}

body{
    text-align: center;
    background-color: #219ebc;
}
.container h1{
    color: white;
}
#city{
    color:black;
}

#container{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    justify-content: center;

}
input{
    border-radius: 15px;

}
.container button{
    border-radius: 15px;
    border:none;
}
.container button:hover{
    cursor: pointer;
}

#displayCard{
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 15px;
    padding:20px 30px;
}
#details{
    position: relative;
        display: flex;
        flex-direction: row;
}

#city_description{
    text-align: right;
    margin-left:100px
}
#about{
    text-align: right;
    margin-left:25px ;
}
#details #temp span{
    color: rgb(93, 90, 90);
    font-size: 20px;
    vertical-align: top;
}
#temp{
    color: black;
    font-size: 60px;
    font-weight: 500;


}

#container h1{
    margin-bottom: 15px;
    color: ;
}
#search_bar{
    font-size: 25px;
    text-decoration: none;
    border: 2px solid black;
    padding-left: 20px;
    margin-bottom:15px;
    outline: none;

}
#search_button{
    font-size:20px;
    width: 20%;
    color:white;
    background-color:#000000;
    /* border: 1px solid black; */
   margin-bottom:15px;
   border-radius: 25px;
}

.toggle{
    position: absolute;
    left: 0px;
    top:80px;

}
.toggle:hover{
    cursor: pointer;
}
.degree{
    background: rgb(147, 131, 131)
}

.toggle button{
    width:50px;
    margin:0;
}